* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

/* these are the base-styles , 
* you can apply them on respsective elements, and the styles wriiten would work for them,
* "mt" stands for margin-top while "ml" stands fro margin-left 
*/
.mt {
    margin-top: 5%;
}

.mt-2 {
    margin-top: 10%;
}

.mt-4 {
    margin-top: 15%;
}

.mt-6 {
    margin-top: 20%;
}

.ml {
    margin-left: 3%;
}

.ml-2 {
    margin-left: 5%;
}

.ml-4 {
    margin-left: 7%;
}

.ml-6 {
    margin-left: 9%;
}

.ml-8 {
    margin-left: 12%;
}

.ml-10 {
    margin-left: 15%;
}

.ml-12 {
    margin-left: 18%;
}

.ml-14 {
    margin-left: 21%;
}

/* this is for spacing inside elements block 
* "px" is for padding horizontally
*/
.px {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-4 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-6 {
    padding-right: 20px;
    padding-left: 20px;
}

.px-8 {
    padding-left: 25px;
    padding-right: 25px;
}

.px-10 {
    padding-right: 30px;
    padding-left: 30px;
}

.px-12 {
    padding-left: 35px;
    padding-right: 35px;
}

.px-14 {
    padding-right: 40px;
    padding-left: 40px;
}

.px-16 {
    padding-right: 45px;
    padding-left: 45px;
}

.px-18 {
    padding-left: 50px;
    padding-right: 50px;
}

.px-20 {
    padding-right: 55px;
    padding-left: 55px;
}

/* this is for spacing inside elements block 
* "py" is for padding vertically
*/

.py {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-6 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-8 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py-10 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-12 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py-14 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-16 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.px-18 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-20 {
    padding-top: 55px;
    padding-bottom: 55px;
}

/* this class simply puts the element at the center */
.flex__center {
    display: flex;
    justify-content: center;
}

/* ensures that there is a space between the elements */
.space__between {
    display: flex;
    justify-content: space-between;
}

/* this class here makes sure that there is a space around each element */
.space__around {
    display: flex;
    justify-content: space-around;
}

.space__evenly {
    display: flex;
    justify-content: space-evenly;
}

.column__flow {
    display: flex;
    flex-direction: column;
}

.box-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.05),
    0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.05),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 36.8px 28.4px rgba(0, 0, 0, 0.05),
    0 52px 33px rgba(0, 0, 0, 0.05);
}

/* base styles ends here */

header {
    height: 645px;
    width: 100%;
    background-image: url('../assets/moto-moto-sc-bCXogq-q_V8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

/* header::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 673px;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url('../assets/moto-moto-sc-bCXogq-q_V8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-);
} */

.head__items img {
    margin-top: 10px;
}

.head__items button {
    margin-top: 30px;
}

.head__items button:hover {
    cursor: pointer;
}

.hotel__brand {
    width: 80px;
    height: 80px;
}

.book__btn {
    border-radius: 0px;
    height: 35px;
    width: 120px;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #fff;
    text-transform: uppercase;
}

.intro__text {
    color: #fff;
    text-align: center;
}

.social {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}

.social .facebook {
    padding: 8px 12px;
}

.social .instagram {
    padding: 10px 10px;
}

.instagram {
    height: 45px;
}

.facebook {
    height: 45px;
}

.intro__text h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.intro__text p {
    font-size: 22px;
}

.hero {
    margin-top: 10%;
    margin-left: -32%;
}

/* facilities section starts here */
.facilities__list {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.facilities__list .card {
    margin: 22px 25px;
}

.card p {
    font-family: 'Montserrat', serif;
    color: #111111;
    line-height: 25px;
    word-spacing: 3px;
}

.card h1 {
    text-transform: uppercase;
}

.card {
    width: 45%;
    height: 100%;
    border-radius: 5px;
    padding-bottom: 3%;
    animation-delay: 4s;
    opacity: 0;
}

.conference__rooms {
    animation: fadeIn 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    -o-animation: fadeIn 2s forwards;
    -webkit-animation: fadeIn 2s forwards;
    animation-delay: 1s;
}

.restaurant__bar {
    animation: fadeIn 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    -o-animation: fadeIn 2s forwards;
    -webkit-animation: fadeIn 2s forwards;
    animation-delay: 2s;
}

.gym__fitness {
    animation: fadeIn 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    -o-animation: fadeIn 2s forwards;
    -webkit-animation: fadeIn 2s forwards;
    animation-delay: 3s;
}

.swimming__pool {
    animation: fadeIn 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    -o-animation: fadeIn 2s forwards;
    -webkit-animation: fadeIn 2s forwards;
    animation-delay: 4s;
}

.card img {
    width: 100%;
    height: 300px;
}
/* facilities section ends here */

/* keyframes starts here */
@keyframes fadeIn {
    0% {
        opacity: .3;
        transform: translateY(-10px);
    } 25% {
        opacity: .5;
    } 50% {
        opacity: .7;
    } 75% {
        opacity: .9;
    } 100% {
        opacity: 1;
    }
}

/* keyframes ends here */

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background: #e5e5e5;
}
::-webkit-scrollbar-thumb {
    background: #8f3e43;
    border-radius: 8px;
}

/* scrollbar stops here */

/* media queries strats here */
@media only screen and (max-width: 576px) {
    .hero {
        width: 100%;
        font-size: 15px;
        margin-top: 25%;
        margin-left: 1%;
    }

    .social {
        width: 40px;
        height: 40px;
    }

    .instagram {
        height: 35px;
    }
    
    .facebook {
        height: 40px;
    }

    .social .facebook {
        padding: 6px 9px;
    }
    
    .social .instagram {
        padding: 9px 8px;
    }
    
    .card {
       width: 500px;
    } 

    .card p {
        font-size: 15px;
    }

    .card h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 768px) {
    .card {
        width: 350px;
    }

    .facilities__list .card {
        margin: 20px 14px;
    }
    
    .card p {
        font-size: 15px;
    }

    .card h1 {
        font-size: 20px;
    }
}
