*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* html{
    font-size: 62.5%;
} */
/*
body{
    font-family: Montserrat; 
    font-size: 1.6rem;
    line-height: 1.7;
    padding:2.3rem;
    box-sizing: border-box;
} */
main{
    font-family: Montserrat;
    background-color: #EDEDED;
    font-size: 20px;
}

/* Header styling */
.header {
    height: 645px;
    width: 100%;
    background-image: 
    linear-gradient(to top right,rgba(26, 24, 24, 0.589),rgba(34, 31, 31, 0.589)),
    url('../assets/moto-moto-sc-bCXogq-q_V8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ABOUT SECTION STYLE */
.about-sec{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-row{
    display: flex;
    flex-direction: row;
}
.about-col1{
    flex-basis: 60%;
    align-self: center;
    z-index: 100;
    margin-right: -80px;
    
}
img{
    border-radius: 5px;
}
.about-col2{
    flex-basis: 40%;
    z-index: 50;
}
.about-text{
    background-color: white;
    padding: 60px;
    border-radius: 5px;
}
.op{
    opacity: .6;
}
.about-img{
    height: 30px;
}
.t-center{
    text-align: center;
    font-size: 40px;
}
.p-center{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ROOM SECTION STYLE  */
/* Since room and facility section has similar layout, i make use of the same clases */
.room1{
    flex-basis: 25%;
    align-self: flex-end;
}
.room2{
    flex-basis: 40%;
    height: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
.rooms-row{
    margin: 15px auto;
  display: flex;
  justify-content: space-evenly;
}
.room3{
    flex-basis:25%;
    align-self: flex-end;
}
.room-img{
  width: 100%;
  height: 60%;
}
.room-text{
    text-align: center;
    padding-bottom: 5px;
}
.room2-cap{
    background-color: rgba(0, 0, 0, 0.486);
    padding: 10px;
}
.effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background:linear-gradient(to top right,rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.76));
}
.rooms-sec{
    padding-top: 100px;
}
.fact-sec{
    padding-top: 100px;
    background-color: white;
}
.rooms-con{
    margin-bottom: 60px;
}


/* Contact section styling */
.contact{
    position: relative;
    background-image:
    linear-gradient(to top right,rgba(143, 62, 67, 0.808),rgba(143, 62, 67, 0.774)),
    url(../assets/benjamin-child-0sT9YhNgSEs-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.con-center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.contact-text{
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: .7;
    color: white;
}
.composition_photo:hover {
    outline: 3px solid #8F3E43;
    -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
    outline-offset: 1rem;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
 

/* Media query for Phone */
@media screen and (max-width:767px){
    .rooms-row{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-bottom: 20px;
    }
    .room1{
        align-self: center;
        flex-basis: 20%;
    }
    .room2{
        margin: 30px 0;
    }
    .room3{
        align-self: center;
        flex-basis: 20%;
    }
    .about-row{
        display: flex;
        flex-direction: column;
    }
    .about-col1{
        flex-basis: 50%;
        align-self: center;
        margin: 0 auto;
    }
    .about-col2{
        flex-basis: 50%;
        z-index: 50;
    }
    .p-center{
        display: none;
    }
}
/* Media query for Tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    .about-row{
        display: flex;
        flex-direction: column;
    }
    .about-col1{
        flex-basis: 100%;
        align-self: center;
        margin: 0 auto;
    }
    .about-col2{
        flex-basis: 100%;
        align-self: center;
        z-index: 50;
    }
}



