* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 645px;
    width: 100%;
    background-image: 
    linear-gradient(to top right,rgba(26, 24, 24, 0.589),rgba(34, 31, 31, 0.589)),
    url('../assets/moto-moto-sc-bCXogq-q_V8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.intro__text {
    color: #fff;
    text-align: center;
}